---
import BackgroundEducation from '../../components/layout/BackgroundEducation.astro'
import BackgroundTech from '../../components/layout/BackgroundTech.astro'
import ContentfulRichText from '../../components/layout/ContentfulRichText.astro'
import DetailHeadline from '../../components/layout/DetailHeadline.astro'
import Image from '../../components/layout/Image.astro'
import Info from '../../components/layout/Info.astro'
import NotFound from '../../components/layout/NotFound.astro'
import Panel from '../../components/layout/Panel.astro'
import PanelTitle from '../../components/layout/PanelTitle.astro'
import Project from '../../components/layout/Project.astro'
import GoBack from '../../components/navigation/GoBack.astro'
import OutsideLink from '../../components/navigation/OutsideLink.astro'
import CodesandboxIcon from '../../icons/CodesandboxIcon.astro'
import GithubIcon from '../../icons/GithubIcon.astro'
import LinkIcon from '../../icons/LinkIcon.astro'
import LocationIcon from '../../icons/LocationIcon.astro'
import MailIcon from '../../icons/MailIcon.astro'
import RankIcon from '../../icons/RankIcon.astro'
import StackOverflowIcon from '../../icons/StackOverflowIcon.astro'
import StatusIcon from '../../icons/StatusIcon.astro'
import MainLayout from '../../layouts/main.astro'
import type { CONTENTFUL_BACKGROUND_PAGE } from '../../types'
import { getBackground } from '../../utils/contentfulApi'
import { showPreview } from '../../utils/showPreview'

const preview = Astro.url.searchParams.get('preview')

const res = await getBackground(showPreview(preview))
const background: CONTENTFUL_BACKGROUND_PAGE = res?.data?.background
---

<MainLayout
  title="Background"
  description="Learn about my journey on how I became a fullstack software engineer"
>
  <style slot="body" is:inline>
    .stars-empty {
      display: flex;
      background-image: url('data:image/svg+xml;base64,PHN2ZyBzdHJva2U9J2N1cnJlbnRDb2xvcicgc3Ryb2tlLXdpZHRoPScwJyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIGhlaWdodD0nMzInIHdpZHRoPSczMicgdmlld0JveD0nMCAwIDE2IDE2JyBmaWxsPScjMDA2NGJiJz48cGF0aCBkPSdNMi44NjYgMTQuODVjLS4wNzguNDQ0LjM2Ljc5MS43NDYuNTkzbDQuMzktMi4yNTYgNC4zODkgMi4yNTZjLjM4Ni4xOTguODI0LS4xNDkuNzQ2LS41OTJsLS44My00LjczIDMuNTIyLTMuMzU2Yy4zMy0uMzE0LjE2LS44ODgtLjI4Mi0uOTVsLTQuODk4LS42OTZMOC40NjUuNzkyYS41MTMuNTEzIDAgMCAwLS45MjcgMEw1LjM1NCA1LjEybC00Ljg5OC42OTZjLS40NDEuMDYyLS42MTIuNjM2LS4yODMuOTVsMy41MjMgMy4zNTYtLjgzIDQuNzN6bTQuOTA1LTIuNzY3LTMuNjg2IDEuODk0LjY5NC0zLjk1N2EuNTY1LjU2NSAwIDAgMC0uMTYzLS41MDVMMS43MSA2Ljc0NWw0LjA1Mi0uNTc2YS41MjUuNTI1IDAgMCAwIC4zOTMtLjI4OEw4IDIuMjIzbDEuODQ3IDMuNjU4YS41MjUuNTI1IDAgMCAwIC4zOTMuMjg4bDQuMDUyLjU3NS0yLjkwNiAyLjc3YS41NjUuNTY1IDAgMCAwLS4xNjMuNTA2bC42OTQgMy45NTctMy42ODYtMS44OTRhLjUwMy41MDMgMCAwIDAtLjQ2MSAweic+PC9wYXRoPjwvc3ZnPg==');
      background-size: 1.25rem;
      height: 1.25rem;
      width: 6.25rem;
    }

    .stars-filled {
      background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMiIgaGVpZ2h0PSIzMiIgdmlld0JveD0iMCAwIDMycHggMzJweCI+PHBhdGggZD0iTTE1Ljk5OSAwLjg1Mmw0LjYxNSA5Ljk3NSAxMC41MjUgMS42NjMtNy41NyA3Ljc1OCAxLjg0NSAxMC45MDEtOS40MTUtNS4xNzQtOS40MTcgNS4xNzQgMS44NDctMTAuOTAxLTcuNTY5LTcuNzU4IDEwLjUyNS0xLjY2MyA0LjYxNC05Ljk3NXoiIGZpbGw9IiMwMDg4ZmYiLz48L3N2Zz4=');
      background-size: 1.25rem;
      height: 1.25rem;
    }

    .panel-body {
      --tw-shadow: inset -1px -1px 24px -9px rgb(101 130 255 / 50%), 0px 0px 26px -2px rgb(0 64 255);
      --tw-shadow-colored: inset -1px -1px 24px -9px var(--tw-shadow-color),
        0px 0px 26px -2px var(--tw-shadow-color);
      box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000),
        var(--tw-shadow);
      color: rgb(0 136 255 / 1);
      width: 100%;
      overflow: hidden;
      border-radius: 0.25rem;
      padding-bottom: 1rem;
      border: 2px solid transparent;
      text-align: left;
      border-image: linear-gradient(to top, #73b9ff 0%, #005193 50%, #005193 100%);
      border-image-slice: 1;
    }

    .markdown ul {
      margin: 0.75rem 0;
      list-style-type: disc;
    }

    .markdown ul li {
      margin-top: -0.5rem;
      margin-left: 2.5rem;
    }

    .markdown p {
      margin: 0.375rem 0;
      padding: 0.375rem 0;
    }

    @media (hover: hover) {
      .panel-body [data-title='bar'] {
        display: block;
        opacity: 1;
      }
    }
  </style>
  {
    background ? (
      <>
        <Project>
          <PanelTitle id="background-title">{background.title}</PanelTitle>
          <Panel>
            <div class="p-5 text-md tracking-wide md:text-xl">
              <div class="mt-3 flex w-full items-center justify-center rounded border border-solid border-primary-600 bg-primary-700 p-4 sm:max-w-max sm:justify-start">
                <Image
                  className="rounded"
                  url={background.profileImage.url}
                  alt={background.profileImage.description}
                  height={175}
                  width={175}
                  contentType={background.profileImage.contentType}
                />
              </div>
              <section>
                <DetailHeadline id="details">Details:</DetailHeadline>
                <div class="font-plain pl-1 text-md md:pl-3">
                  <Info className="text-lime-500">
                    <StatusIcon className="mr-0.5 align-middle text-xl" />
                    Activated September 2016
                  </Info>
                  <Info>
                    <LocationIcon className="mr-2.5 align-middle text-xl" />
                    {background.location}
                  </Info>
                  <Info>
                    <RankIcon className="mr-2.5 align-middle text-xl" />
                    {background.rank}
                  </Info>
                  <Info>
                    <MailIcon className="mr-2 align-middle text-xl" />
                    <OutsideLink
                      className="inline-block"
                      ariaLabel={`send an email to ${background.email}`}
                      href={`mailto:${background.email}`}
                    >
                      {background.email}
                    </OutsideLink>
                  </Info>
                  {[
                    {
                      Icon: LinkIcon,
                      title: 'Linkedin',
                      href: 'https://www.linkedin.com/in/mattcarlotta/',
                    },
                    {
                      Icon: GithubIcon,
                      title: 'Github',
                      href: 'https://github.com/mattcarlotta/',
                    },
                    {
                      Icon: StackOverflowIcon,
                      title: 'Stackoverflow',
                      href: 'https://stackoverflow.com/users/7376526/matt-carlotta/',
                    },
                    {
                      Icon: CodesandboxIcon,
                      title: 'CodeSandBox',
                      href: 'https://codesandbox.io/u/mattcarlotta/sandboxes/',
                    },
                  ].map(({ Icon, title, href }) => (
                    <Info>
                      <Icon className="mr-2 align-middle text-xl" />
                      <OutsideLink
                        className="inline-block"
                        ariaLabel={`my ${title.toLowerCase()} page`}
                        href={href}
                        showIcon
                      >
                        {title}
                      </OutsideLink>
                    </Info>
                  ))}
                </div>
              </section>
              <section>
                <DetailHeadline id="brief">Brief:</DetailHeadline>
                <div class="pl-1 tracking-wide sm:pl-4">
                  <ContentfulRichText json={background.description.json} />
                </div>
              </section>
              <section>
                <DetailHeadline id="tech-specs">Tech Specs:</DetailHeadline>
                <BackgroundTech tech={background.tech} />
              </section>
              <section>
                <DetailHeadline id="formal-education">Education:</DetailHeadline>
                <p class="mt-2 pl-1 md:pl-4">San Jose State University | 2005-2012 | 3.5GPA</p>
              </section>
              <section>
                <DetailHeadline id="online-education">Online Education:</DetailHeadline>
                <BackgroundEducation education={background.education} />
              </section>
            </div>
          </Panel>
        </Project>
        <GoBack href="/" title="Home" />
      </>
    ) : (
      <NotFound />
    )
  }
</MainLayout>
