---
import OutsideLink from '../../components/navigation/OutsideLink.astro'
import CodeIcon from '../../icons/CodeIcon.astro'
import DemoIcon from '../../icons/DemoIcon.astro'
import StatusIcon from '../../icons/StatusIcon.astro'
import type { AriaLabel, HeightAndWidth, Title } from '../../types'
import clsx from '../../utils/clsx'
import Link from '../navigation/Link.astro'
import Bars from './Bars.astro'
import Card from './Card.astro'
import Image from './Image.astro'
import Tooltip from './Tooltip.astro'

type Props = AriaLabel &
  HeightAndWidth &
  Title & {
    active?: boolean
    alt?: string
    description: string
    contentType: string
    href?: string
    imagePriority?: boolean
    location?: string | null
    scale?: number
    slug?: string
    source?: string
    status?: string
    url: string
  } & { trailingSlash?: boolean }

const {
  active,
  alt = '',
  ariaLabel,
  contentType,
  description,
  height,
  href,
  location,
  scale,
  slug = '',
  source,
  status,
  title,
  trailingSlash = false,
  url,
  width,
} = Astro.props
---

<Card>
  <header>
    <h2
      id={title}
      data-title="card-title"
      class="m-0 bg-primary-800 p-0.5 text-sm font-bold leading-4 text-white"
    >
      {title}
    </h2>
  </header>
  <Bars />
  <div class="flex h-[14.375rem] items-center justify-center">
    <Link ariaLabel={ariaLabel} href={`/${href}/${slug}${trailingSlash ? '/' : ''}`} noFocusRing>
      <Image
        className="rounded"
        url={url}
        alt={alt}
        scale={scale}
        height={height}
        width={width}
        contentType={contentType}
      />
    </Link>
  </div>
  <div class="mt-1 flex items-center justify-center">
    {
      status && (
        <Tooltip title={status}>
          <Link
            ariaLabel={ariaLabel}
            href={`/${href}/${slug}${trailingSlash ? '/' : ''}`}
            className="mx-1 p-2"
          >
            <StatusIcon className={clsx('text-lg', active ? 'text-lime-500' : 'text-gray-400')} />
          </Link>
        </Tooltip>
      )
    }
    {
      location && (
        <Tooltip title="Demo">
          <OutsideLink
            ariaLabel={`Navigate to ${title} demo page.`}
            href={location}
            className="mx-1 flex items-center justify-center p-2"
          >
            <DemoIcon className="text-lg text-amber-500" />
          </OutsideLink>
        </Tooltip>
      )
    }
    {
      source && (
        <Tooltip title="Source">
          <OutsideLink
            ariaLabel={`Navigate to ${title} source page.`}
            href={source}
            className="mx-1 flex items-center justify-center p-2"
          >
            <CodeIcon className="text-lg" />
          </OutsideLink>
        </Tooltip>
      )
    }
  </div>
  <Link
    ariaLabel=""
    className="font-plain text-md focus:border-primary-100 m-2 block rounded border-2 border-solid border-transparent px-2.5 py-4 transition-colors hover:text-white focus:text-white"
    href={`/${href}/${slug}${trailingSlash ? '/' : ''}`}
  >
    {description}
  </Link>
</Card>
