---
import Link from '../components/navigation/Link.astro'
import BackgroundIcon from '../icons/BackgroundIcon.astro'
import ExplorationsIcon from '../icons/ExplorationsIcon.astro'
import HomeIcon from '../icons/HomeIcon.astro'
import ProjectsIcon from '../icons/ProjectsIcon.astro'
import clsx from '../utils/clsx'
import concatTitle from '../utils/concatTitle'

interface Props {
  description?: string
  title?: string
  type?: string
}

const { description, title, type } = Astro.props
const canonicalURL = Astro.url.toString()
const pathname = Astro.url.pathname
const documentTitle = concatTitle(title, description)
const documentType = type || 'website'
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="canonical" href={canonicalURL} />
    <link rel="dns-prefetch" href="https://images.ctfassets.net/" />
    <link rel="preload" as="image" href="/bg.webp" />
    <link rel="apple-touch-icon" sizes="192x192" href="/logo_192x192.png" />
    <link
      rel="preload"
      href="/fonts/Elemental.woff"
      as="font"
      type="font/woff"
      crossorigin="anonymous"
    />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="mask-icon" href="/logo_192x192.png" color="#01406C" />
    <meta name="theme-color" content="#000000" />
    <meta name="robots" content="all" />
    <meta name="googlebot" content="all" />
    <meta property="og:locale" content="en_US" />
    <meta name="msapplication-TileColor" content="#000000" />
    <meta name="description" content={description} />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content={documentType} />
    <meta property="og:title" content={documentTitle} />
    <meta property="og:description" content={description} />
    <meta property="og:url" content={documentType} />
    <meta property="og:site_name" content="Matt Carlotta - Fullstack Software Engineer" />
    <meta
      property="og:image"
      content="https://images.ctfassets.net/hb5otnhwin4m/5XlzNcNVgoachT9KBOv4TW/88244361945dafb35c79ef66effc8989/paintMe.webp"
    />
    <meta
      property="og:image:secure_url"
      content="https://images.ctfassets.net/hb5otnhwin4m/5XlzNcNVgoachT9KBOv4TW/88244361945dafb35c79ef66effc8989/paintMe.webp"
    />
    <meta property="og:image:width" content="250" />
    <meta property="og:image:height" content="250" />
    <meta
      property="og:image:alt"
      content="A fullstack developer who is passionate about open-source projects, helping the web development community, and building SEO optimized applications"
    />
    <meta property="og:image:type" content="image/webp" />
    <title>{documentTitle}</title>
    <style is:inline>
      @font-face {
        font-family: 'Elemental';
        font-style: normal;
        font-weight: normal;
        font-display: swap;
        src: url('/fonts/Elemental.woff') format('woff');
      }

      body,
      html {
        height: 100%;
        width: 100%;
      }

      body {
        background: url('/bg.webp');
        color: #fff;
        margin: 0;
        background-color: rgb(1 0 7 / 1);
        background-attachment: fixed;
        background-position: 50%;
        background-repeat: no-repeat;
      }

      .blue-text-shadow {
        text-shadow: rgb(119, 110, 183) 0px 0px 3px;
      }

      * {
        box-sizing: border-box;
        -ms-overflow-style: none;
        scrollbar-width: none;
      }
      ::-webkit-scrollbar {
        display: none;
      }
      :-moz-focus-inner {
        border-width: 0px;
      }

      img,
      svg,
      iframe {
        vertical-align: middle;
        display: initial !important;
      }

      @keyframes grow {
        0% {
          width: 0px;
        }
        100% {
          width: 100px;
        }
      }

      .bar {
        position: absolute;
        display: none;
        width: 0px;
        height: 2px;
        background: #005193;
      }

      .topBar {
        top: 4px;
        animation: grow 1.5s linear infinite;
      }

      .middleBar {
        top: 8px;
        animation: grow 1.65s linear infinite;
      }

      .bottomBar {
        top: 12px;
        animation: grow 1.75s linear infinite;
      }

      .tooltip {
        position: relative;
        font-weight: bold;
      }

      .tooltip:hover::after,
      .tooltip:focus-within::after {
        position: absolute;
        top: -5px;
        border: 6px solid transparent;
        border-top-color: rgb(0 136 255 / 1);
        content: '';
        transform: translate(-50%, -50%);
      }

      .tooltip:hover::before,
      .tooltip:focus-within::before {
        position: absolute;
        top: -28px;
        white-space: nowrap;
        border-radius: 0.25rem;
        background-color: rgb(0 136 255 / 1);
        padding: 0.5rem 1rem;
        font-size: 0.8rem;
        color: #fff;
        content: attr(data-tooltip);
        transform: translate(-50%, -50%);
        box-shadow: 0px 0px 10px 4px rgba(0, 2, 14, 0.3);
      }

      @media (prefers-reduced-motion) {
        .topBar {
          width: 100px;
          animation: none;
        }

        .middleBar {
          width: 66px;
          animation: none;
        }

        .bottomBar {
          width: 33px;
          animation: none;
        }
      }
    </style>
    <slot name="head" />
  </head>
  <body>
    <header class="overflow-hidden">
      <a
        id="skip-to-content"
        aria-label="Skip to main content"
        class="absolute left-[-9999px] top-4 z-50 rounded bg-primary-50 p-2 text-center text-white no-underline shadow-ring focus:left-5"
        href="#main"
      >
        Skip to content
      </a>
    </header>
    <nav class="flex items-center justify-center px-4 pt-10 pb-4">
      <div
        class="grid grid-cols-2 gap-2 text-center text-md font-bold uppercase tracking-wide md:flex"
      >
        {
          [
            {
              page: 'home',
              href: '/',
              Icon: HomeIcon,
            },
            {
              page: 'projects',
              href: '/projects/',
              Icon: ProjectsIcon,
            },
            {
              page: 'explorations',
              href: '/explorations/',
              Icon: ExplorationsIcon,
            },
            {
              page: 'background',
              href: '/background/',
              Icon: BackgroundIcon,
            },
          ].map(({ Icon, href, page }) =>
            pathname === href && pathname === '/' ? (
              <p class="flex w-full items-center justify-center rounded border-2 border-solid border-transparent p-2.5 text-primary no-underline sm:mx-0 md:mx-1 md:w-auto md:p-2.5">
                <Icon className="mr-2 !hidden text-md xs:!block" />
                <span>{page}</span>
              </p>
            ) : (
              <Link
                className={clsx(
                  'p-2.5',
                  canonicalURL.includes(page) &&
                    'rounded !border-primary-100 !text-white shadow-ring transition-[box-shadow] duration-300 ease-in-out'
                )}
                ariaLabel={`${page} page`}
                href={href}
              >
                <Icon className="mr-2 !hidden text-md xs:!block" />
                <span>{page}</span>
              </Link>
            )
          )
        }
      </div>
    </nav>
    <main id="main" class="mx-auto h-full w-full max-w-main px-2.5 lg:px-0">
      <div class="min-h-body p-2.5 md:p-0">
        <slot />
      </div>
      <footer
        class="mt-20 mb-10 flex flex-col items-center justify-center whitespace-nowrap pb-2 text-md font-extrabold uppercase text-accent sm:mb-0 sm:flex-row sm:space-x-4"
      >
        <p class="mb-2 sm:mb-0 sm:p-2.5">&#169;{new Date().getFullYear()} Matt Carlotta</p>
        <span class="invisible sm:visible">|</span>
        <Link className="md:!inline-block w-auto p-2.5" href="/accessibility/">Accessibility</Link>
        <span class="invisible sm:visible">|</span>
        <Link className="md:!inline-block w-auto p-2.5" href="/sitemap/">Site Map</Link>
      </footer>
    </main>
  </body>
</html>
